Change maximum message size when using UDP protocol to 2KB instead of 1KB

Based on [RFC 5426 section 3.2](https://datatracker.ietf.org/doc/html/rfc5426#section-3.2), "All syslog receivers SHOULD be able to receive datagrams with message sizes of up to and including 2048 octets."